@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Montserrat';
}
.container{
    padding: 3% 15%;
}
.navbar{
    margin-bottom: 3.5rem;
}
.navbar-expand-lg .navbar-brand{
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
  
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}
#title-image{
    width: 52%;
    transform: rotate(25deg);
    margin-left: 110px;
}

#title h1{
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

#title{
    color: #fff;
    background-color: #ff4c68;    
}
#features{
    position: relative;
    padding: 7% 12%;
    background-color: #fff;
    margin-top: -185px;
    z-index:1;
}

.ma-5{
   text-align: center;
  
}
.ma-5 h3{
    font-family: 'montserrat';
    font-size: 1.5rem;
    font-weight: bold;
}
#features .fa-solid {
   color: #ef8172;
    font-size: 3rem;
    margin-bottom: 10px;
}
.ma-5 p{
    color: #8f8f8f;
}
#features .fa-solid:hover{
    color: #ff4c68;
}
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
#testimonials h2{
    font-family: 'Montserrat';
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: bold;
}
#testimonial-img{
    width:10%;
    border-radius: 100%;
}
.carousel-item{
    padding: 7% 12%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width:15%;
    margin : 20px 20px 15px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}
#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
}
#cta h3{
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 1000;
    font-size: 2.5rem;
}
.btn{
   margin-top: 50px;
   margin-left: 20px;
}
#footer{
    padding: 5% 15% 2%;
}
#footer p{

    text-align: center;
    color: #8f8f8f;
}
.footer-font{
    text-align: center;
   
    margin-bottom: 10px;
}
#footer .fa-brands{
    margin-right: 15px;
   
}

@media (max-width:1020px)
{
    #title{
        text-align: center;
    }
    #title-image{
     transform: rotate(0);
     position: static;
     width: 30%;
     margin-left: 1%;
     margin-top: 25px;
    }
    #features{
       margin-top: 0;
    }
}